
.sv_kl{
    width: 50px;
    height: 50px;
    background: url(../images/sv_kletka.gif);
    float: left;
}

.tm_kl{
    width: 50px;
    height: 50px;
    background: url(../images/tem_kletka.gif);
    float: left;
}

.board{
    width: 400px;
    height: 400px;
}

.sv_block{
    text-align: center;
    color: black;
    margin: 30px;
    width: 150px;
    height: 150px;
    background: url(../images/sv_kletka.gif);
    float: left;
}

.tm_block{
    text-align: center;
    color: black;
    margin: 30px;
    width: 150px;
    height: 150px;
    background: url(../images/tem_kletka.gif);
    float: left;
}


































































